.grayscale{
	filter: url("../images/grayscale.svg#grayscale"); /* Firefox 10+, Firefox on Android */
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.grayscale-remove{
	filter: url("../images/grayscale-remove.svg#grayscale"); /* Firefox 10+, Firefox on Android */
   -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}