@mixin parallax($depth: 1, $child-selector:'.parallax-child', $translateX: 0, $translateY: -50%, $perspective: 1px, $parent-height:100vh) {
	@include parallax-parent($perspective, $parent-height);

	#{$child-selector} {
		@include parallax-child($depth, $translateX, $translateY);
	}
}

@mixin parallax-parent($perspective: 1px, $parent-height: 100vh) {
	perspective: $perspective;
	perspective-origin-x: 100%;
	transform-style: preserve-3d;
	height: $parent-height;
	overflow-x: hidden;
    overflow-y: auto;
}

@mixin parallax-child($depth: 1, $translateX: 0, $translateY: -50%) {
	$scale: 1 + $depth;
	$translateZ: (0 - $depth) * 1px;

	transform: translate3d($translateX,$translateY,-1px) scale($scale);
	transform-origin-x: 100%;
	@warn "Using CSS parallax: don't forget to add to the body : height:100vh; -webkit-overflow-scrolling: touch;";
}