@mixin parallax($depth: 1, $child-selector:'.parallax-child', $perspective: 1, $translateX: 0, $translateY: -50%, $parent-height:100vh) {
	@include parallax-parent($perspective, $parent-height);

	#{$child-selector} {
		@include parallax-child($depth, $perspective, $translateX, $translateY);
	}
}

@mixin parallax-parent($perspective: 1, $parent-height: 100vh) {
	perspective: ($perspective * 1px);
	perspective-origin-x: 100%;
	transform-style: preserve-3d;
	height: $parent-height;
	overflow-x: hidden;
    overflow-y: auto;
}

@mixin parallax-child($depth: 1, $perspective:1, $translateX: 0, $translateY: -50%) {
	$scale: $perspective + $depth;
	$translateZ: (0 - $depth) * $perspective * 1px;

	transform: translate3d($translateX,$translateY,-1px) scale($scale);
	transform-origin-x: 100%;
	@warn "Using CSS parallax: don't forget to add to the body : height:100vh; -webkit-overflow-scrolling: touch;";
}